<html lang="en">
    <head>
        <title>Ledger App {% block title %}{% endblock %}</title>
        <style></style>
        {% block style %}{% endblock %}
    </head>
    <body>
        <header>
            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            {% endif %}

            <h1>Recipe Book</h1>
            {% block header %}{% endblock %}
        </header>
        
        {% block body %}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>
